.groups-page {
  display: grid;
  grid-template-rows: auto auto 1fr;
  padding: 10px 1rem;
  transition: all 0.3s ease-in-out;
  min-height: 100%;
}

.group-options-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  gap: 1.5rem;
}

.group-option {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  width: auto;
  margin-bottom: 20px;
}

.group-option:hover {
  cursor: pointer;
}

.groups-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: 1.5rem;
}

.group-card {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  align-items: center;
}

.group-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 220px;
  box-shadow: -6px 0px 20px var(--shadow-secondary);
  border-radius: 10px;
  background-color: var(--background-secondary);
  transition: all 0.3s ease-in-out;
}

.group-image-container:hover {
  box-shadow: -6px 0px 30px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
  transform: scale(1.05);
}

.group-icon.MuiSvgIcon-root {
  font-size: 4rem;
  transition: transform 0.3s ease-in-out;
}

.group-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.group-image-container:hover .group-image {
  opacity: 0.85;
}

.group-image-container:hover .group-icon.MuiSvgIcon-root {
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}

.group-name {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: var(--text-primary);
}

.new-group-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.new-group-form {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: center;
  gap: 1.5rem;
  max-width: 700px;
  width: 100%;
}

.group-photo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.upload-card {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -6px 0px 20px var(--shadow-secondary);
  cursor: pointer;
  transition: border-color 0.3s ease;
  background-color: var(--background-secondary);
  position: relative;
}

.upload-card:hover {
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.upload-btn.MuiSvgIcon-root {
  font-size: 5rem;
  cursor: pointer;
  color: #898888;
}

.group-image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.image-edit-icon.MuiSvgIcon-root {
  font-size: 3rem;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #00000080;
  border-radius: 50%;
  color: white;
  padding: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.upload-card:hover .image-edit-icon {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s ease 0s;
}

.new-group-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.new-group-input .MuiFormControl-root {
  width: 100%;
  min-width: 250px;
}

.form-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1rem;
  max-width: 300px;
  width: 100%;
}

.form-actions .MuiButtonBase-root {
  width: 100%;
  min-width: 100px;
}

.group-charts{
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  
}

.group-chart-cont > h2{
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  padding: 10px 0 10px 15px;
  background-color: #424242;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.group-chart-cont{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--background-secondary);
  border-radius: 10px; 
}

@media (max-width: 768px) {
  .groups-content {
    justify-content: center;
  }
}