.group-section-container {
  display: flex;
  flex-direction: column;
  height: 100%; 
  overflow-y: auto;
}

.group-home-container {
  margin-top: 10px;
  display: grid;
  grid-template-rows: auto 1fr; 
  flex-grow: 1;
  min-height: 0; 
}


.posts-container {
  overflow-y: auto;
  padding: 16px;
  min-height: 0; 
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  border-radius: 20px;
  background-color: var(--background-secondary);
  padding: 1rem;
}

.post-input .MuiInputBase-root{
  border-radius: 10px;
}

.post-button.MuiButtonBase-root{
  align-self: flex-end;
  padding: 8px 16px;
}

.post-item {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.no-posts {
  text-align: center;
  color: #666;
}
