.main-nav {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 10px;
  gap: 1rem;
  align-items: center;
  border-bottom: 2px solid #2F2F2F;
  z-index: 2;
}

.main-nav h2 {
  font-size: 0.8rem;
  white-space: nowrap;
}


.searchBar input {
  height: 100%;
  box-sizing: border-box;
  padding-right: 48px;
  font-size: 1rem;
}

.user-options {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
  align-items: center;
  justify-content: end;
}

.user-options svg {
  transition: transform 0.3s ease; 
}

.user-options svg:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

.avatar-cont {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
}

.avatar-cont:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .avatar-cont h2 {
    display: none;
  }
}
