.sidebar-section {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: -0.5px 0 0 var(--secondary-color) inset;
  transition: all ease 0.3s;
  position: sticky;
  top: 0;
}

.header-title {
  width: 100%;
  padding: 0px;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.header-title h1,
.header-title svg {
  font-size: 1.5rem;
}
