.sidebar-section {
  height: 100vh;
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: -0.5px 0 0 whitesmoke inset;
  transition: all ease 0.3s;
  position: sticky;
  top: 0;
}

.header-title {
  width: 100%;
  padding: 0px 0px;
  align-items: center;
  justify-content: center;
}

.header-title h1,
.header-title svg {
  font-size: 1.5rem;
}

