.group-config-container {
  overflow-y: auto;
  padding: 0px 20px 10px;
}

.group-info-header {
  margin: 15px 0px;
}

.edit-group-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  align-items: center;
}

.edit-group-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  gap: 1.5rem;
}

.edit-group-photo-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.inactive.image-edit-icon.MuiSvgIcon-root {
  display: none;
}

.inactive.upload-card:hover {
  cursor: auto;
  border: none;
}

.edit-group-inputs {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}

.edit-group-inputs .MuiFormControl-root {
  width: 100%;
}

.form-actions .inactive {
  display: none;
}

.danger-zone-sect {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 16px;
  border: 1px solid #d32f2f;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
}

.danger-zone-descr {
  flex: 1;
  min-width: 250px;
  max-width: 70%;
}

.danger-zone-sect button {
  flex-shrink: 0; 
  white-space: nowrap;
}

/* Alineación responsiva: cuando el ancho es menor a 500px, el botón se mueve abajo */
@media (max-width: 500px) {
  .danger-zone-sect {
    flex-direction: column;
    align-items: flex-start;
  }

  .danger-zone-descr {
    flex: 1;
    min-width: 200px;
    max-width: 100%;
  }
  

  .danger-zone-sect button {
    align-self: flex-start;
  }
}
