.home-container {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  transition: all 0.3s ease;
}

.sidebar-grid {
  grid-row: span 2;
  height: 100vh;
  overflow: hidden;
  transition: all 0.3s ease;
}

.navbar-grid {
  grid-row: span 1;
}

.outlet-grid {
  grid-row: span 1;
  overflow-y: auto;
}

@media (max-width: 800px) {
  .home-container {
    grid-template-columns: auto 1fr; 
    height: 100vh; 
    overflow: hidden; 
  }

  .sidebar-grid {
    width: 0;
  }

  .sidebar-grid.active {
    display: grid;
    width: 220px; 
    height: 100vh;
  }
}
