.home-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh; 
}

.sidebar-grid {
  grid-row: span 2;
}

.navbar-grid {
  grid-row: span 1;
}

.outlet-grid {
  grid-row: span 1;
  margin: 10px;
}


@media(max-width: 800px) {
  .home-container {
    grid-template-columns: 1fr;
  } 

  .sidebar-grid {
    display: none;
  }

}