nav {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 10px;
  gap: 1rem;
  align-items: center;
  box-shadow: 0 1px 1px var(--secondary-color) ;
}

nav h2 {
  font-size: 0.8rem;
}

.searchBar input {
  height: 100%;
  box-sizing: border-box;
  padding-right: 48px;
  font-size: 1rem;
}

.user-options {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
  align-items: center;
}

.user-options svg {
  transition: transform 0.3s ease; 
}

.user-options svg:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

.avatar-cont {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
}

.avatar-cont:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
}
