.textActions {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.textActions::before,
.textActions::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: whitesmoke;
}
