.textActions {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.textActions::before,
.textActions::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: var(--secondary-color);
}

.divider {
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 10px 0;
}

.search-responsive.MuiSvgIcon-root,
.hamburger-menu-icon.MuiSvgIcon-root {
  display: none;
  transition: transform 0.3s ease; 
}

.search-responsive.MuiSvgIcon-root:hover,
.hamburger-menu-icon.MuiSvgIcon-root:hover {
  cursor: pointer;
  transform: rotate(360deg); 
}

.title-half-line {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 20px 0;
  width: 60%;
}

.title-half-line::after {
  content: "";
  flex-grow: 1;
  height: 0.5px;
  background-color: var(--secondary-color);
  margin-left: 10px;
}

.title-right-line {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 10px 0;
  width: 100%;
}

.title-right-line::after {
  content: "";
  flex-grow: 1;
  height: 0.5px;
  background-color: var(--secondary-color);
  margin-left: 10px;
}

@media(max-width: 800px) {
  .search-input.MuiFormControl-root{
    display: none;
  } 

  .search-responsive.MuiSvgIcon-root {
    display: block;
  }

  .hamburger-menu-icon.MuiSvgIcon-root {
    display: block;
  }

  .title-half-line {
    width: 100%;
    justify-content: center;
  }
  .title-half-line::after {
    content: none;  /* Elimina el contenido de ::after */
  }
}
